body {
  color: white;
  font-size: 30px;
}

.flex {
  display: flex;
}
.container {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
}
